:root {
  --icons-font: 'idxboost-icons';
  --font-opensans : 'Open Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-white: #FFFFFF;
  --color-black: #000000;
	--color-border: #e3e3e3;
  --color-gray: #333333;
	--color-gray-light: #939393;
  --color-blue: #5ca6fa;
  --color-blue-100: #0259A9;
  --color-lemon: #90ee90;
  --color-red: #cd3e3e;
  --color-coral: #ff0048;
  --color-gray-bd: #f5f5f5;
  --color-background-validate: #fffbfb;
	--color-border-validate: #edd0d0 ;
  --color-card: #ffbd27;
  --color-gray-title: #F3F3F3;
  --color-skyblue: #3dc5ec;
  --color-disclaimer: #B0AFB6;
}