@font-face {
  font-family: 'idxboost-icons';
  src:  url('https://idxboost-spw-assets.idxboost.us/fonts/filters/idxboost-icons.eot?6bxbqk');
  src:  url('https://idxboost-spw-assets.idxboost.us/fonts/filters/idxboost-icons.eot?6bxbqk#iefix') format('embedded-opentype'),
    url('https://idxboost-spw-assets.idxboost.us/fonts/filters/idxboost-icons.ttf?6bxbqk') format('truetype'),
    url('https://idxboost-spw-assets.idxboost.us/fonts/filters/idxboost-icons.woff?6bxbqk') format('woff'),
    url('https://idxboost-spw-assets.idxboost.us/fonts/filters/idxboost-icons.svg?6bxbqk#idxboost-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="idx-icons-"], [class*=" idx-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'idxboost-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.idx-icons-my-building:before {
  content: "\e921";
}
.idx-icons-warning-bold:before {
  content: "\e920";
}
.idx-icons-warning-light:before {
  content: "\ea07";
}
.idx-icons-square:before {
  content: "\e917";
}
.idx-icons-square-active:before {
  content: "\e918";
}
.idx-icons-star:before {
  content: "\e91c";
}
.idx-icons-star-active:before {
  content: "\e91d";
}
.idx-icons-heart:before {
  content: "\e91e";
}
.idx-icons-heart-active:before {
  content: "\e91f";
}
.idx-icons-clear:before {
  content: "\e914";
}
.idx-icons-save:before {
  content: "\e916";
}
.idx-icons-error:before {
  content: "\e900";
}
.idx-icons-loading:before {
  content: "\e901";
}
.idx-icons-checkmark:before {
  content: "\e903";
}
.idx-icons-pinterest-p:before {
  content: "\e93f";
}
.idx-icons-spinner-loading:before {
  content: "\e94a";
}
.idx-icons-mail-envelope-closed:before {
  content: "\e946";
}
.idx-icons-youtube-logo:before {
  content: "\e93a";
}
.idx-icons-arrow-select:before {
  content: "\e90d";
}
.idx-icons-close:before {
  content: "\e90e";
}
.idx-icons-envelope:before {
  content: "\e91a";
}
.idx-icons-expand:before {
  content: "\e912";
}
.idx-icons-facebook:before {
  content: "\e927";
}
.idx-icons-google-plus:before {
  content: "\e926";
}
.idx-icons-instagram:before {
  content: "\e928";
}
.idx-icons-link:before {
  content: "\e925";
}
.idx-icons-linkedin2:before {
  content: "\e92b";
}
.idx-icons-map1:before {
  content: "\e911";
}
.idx-icons-open:before {
  content: "\e915";
}
.idx-icons-phone:before {
  content: "\e91b";
}
.idx-icons-search-ligth1:before {
  content: "\e923";
}
.idx-icons-shared:before {
  content: "\e913";
}
.idx-icons-twitter:before {
  content: "\e929";
}
.idx-icons-youtube:before {
  content: "\e92a";
}
.idx-icons-mail:before {
  content: "\e90a";
}
.idx-icons-send:before {
  content: "\e90b";
}
.idx-icons-delete:before {
  content: "\e905";
}
.idx-icons-trash:before {
  content: "\e906";
}
.idx-icons-shopping-cart:before {
  content: "\e907";
}
.idx-icons-location-shopping:before {
  content: "\e908";
}
.idx-icons-minus:before {
  content: "\e904";
}
.idx-icons-plus:before {
  content: "\e909";
}
.idx-icons-grid:before {
  content: "\e902";
}
.idx-icons-map:before {
  content: "\e94b";
}
.idx-icons-money-bag:before {
  content: "\e90c";
}
.idx-icons-money:before {
  content: "\e94f";
}
.idx-icons-keyboard_backspace:before {
  content: "\e944";
}
.idx-icons-checkmark1:before {
  content: "\e939";
}
.idx-icons-spinner-loading1:before {
  content: "\e94c";
}
.idx-icons-equalizer:before {
  content: "\e93b";
}
.idx-icons-settings:before {
  content: "\e93b";
}
.idx-icons-options:before {
  content: "\e93b";
}
.idx-icons-double-arrow:before {
  content: "\e931";
}
.idx-icons-arrow-select1:before {
  content: "\e90f";
}
.idx-icons-calendar:before {
  content: "\e919";
}
.idx-icons-close1:before {
  content: "\e910";
}
.idx-icons-search-ligth:before {
  content: "\e922";
}
