.dgt-richmarker-group,
.dgt-richmarker-single {
	font-family: var(--font-opensans);
	white-space: nowrap;
	text-align: center;
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 3px 5px;
	cursor: pointer;
	border-radius: 4px;
	position: relative;
	width: auto;
	display: inline-block;
	font-size: 10px;
	transition: all .35s ease;

	strong {
		font-weight: 600;
		margin-right: 3px;
		display: inline-block;
	}

	&.ib-search-marker-active {
		background-color: var(--color-coral);
		z-index: 100;
	}

	&:after {
		content: '';
		width: 0px;
		height: 0px;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid #333;
		position: absolute;
		bottom: -4px;
		left: 0;
		right: 0;
		margin: 0 auto;
		-webkit-transition: all .35s ease;
		-o-transition: all .35s ease;
		transition: all .35s ease;
	}
}

#ib-idx-search-filter {

	.gm-style-iw.gm-style-iw-c {
		padding: 0;

		* {
			font-family: var(--font-opensans);
		}

		.gm-style-iw-d {
			overflow: hidden !important;
		}

		.gm-ui-hover-effect {
			top: 0 !important;
			right: 0 !important;
		}

		/*&:not(.ib-ibmulti) {
			.ib-ibcount {
				display: none;
			}
		}*/

		@media screen and (min-width: 990px) {
			padding-bottom: 15px;

			&:after {
				position: absolute;
				content: "";
				height: 0;
				width: 0;
				border-top: 15px solid var(--color-white);
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		/*&.ib-ibmulti {
			.ib-ibproperties {
				overflow-y: auto;

				&::-webkit-scrollbar {
					width: 10px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: var(--color-gray);
				}

				&::-webkit-scrollbar-track {
					border: 0px solid var(--color-black);
						background-color: rgba(0, 0, 0, 0.15);
				}
			}
		}*/

		.ib-ibcount {
			float: left;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px;
			padding-right: 10px;
			font-size: 12px;
			line-height: normal;
			font-weight: 600;
			border-right: 1px solid var(-color-border);

			/*&:before {
				content: "\6b";
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1em;
				margin-right: 3px;
				color: $colorp;
			}*/

			span {
				text-transform: uppercase;
				margin-left: 5px;
				display: inline-block;
				margin-right: -5px;
				font-size: 12px;
				font-weight: 600;
			}
		}

		.ib-ibwtitle {
			position: relative;
			overflow: hidden;
			background-color: var(--color-gray-bd);
			border-bottom: 1px solid var(--color-border);
			height: 30px;
		}

		.ib-ibtitle {
			height: 100%;
			padding-left: 10px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		.ib-ibtxt {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 600;
			color: var(--color-gray);
		}

		.ib-ibclose {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 30px;
			overflow: hidden;

			span {
				position: absolute;
				top: -200px;
				left: 0;
			}

			&:before,
			&:after {
				content: "";
				width: 2px;
				height: 60%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				transition: all .3s linear;
				background-color: var(--color-gray);
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}

			&:hover {
				cursor: pointer;
			}
		}

		.ib-ibproperties {
			background-color: var(--color-white);
			overflow: hidden;
			overflow-y: auto;
			max-height: 120px;

			&::-webkit-scrollbar {
				width: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--color-gray);
			}

			&::-webkit-scrollbar-track {
				border: 0px solid var(--color-black);
				background-color: rgba(0, 0, 0, 0.15);
			}
		}

		.ib-ibpitem {
			padding: 10px 15px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: row-reverse;
			border-bottom: 1px solid var(--color-gray-bd);
			margin-bottom: 5px;

			@media screen and (min-width: 640px) {
				width: 410px;
			}

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}

			&:hover {
				cursor: pointer;
			}
		}

		.ib-ibpa {
			flex-grow: 1;
			width: calc(100% - 153px);
		}

		.ib-ibpb {
			width: 138px;
			height: 95px;
			margin-right: 15px;
			flex-shrink: 0;
			background-color: var(--color-gray-bd);
		}

		.ib-ibimg {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}

		.ib-ibptitle {
			font-weight: bold;
			line-height: 1;
			margin-bottom: 2px;
			font-size: 15px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}

		.ib-ibdetails {
			overflow: hidden;
			font-size: 10px;
		}

		.ib-ibditem {
			float: left;

			&:last-child {
				margin-right: 0;
			}
		}

		.ib-ibaddress {
			font-size: 14px;
			margin-bottom: 4px;
			white-space: nowrap;
			overflow: hidden;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}

		.ib-ibaddress,
		.ib-ibprice {
			width: 100%;
		}

		.ib-ibdbold,
		.ib-ibprice {
			font-weight: 600;
			;
		}

		.ib-ibprice {
			margin-bottom: 2px;
			font-size: 15px;
			font-weight: bold;
		}

		.ib-ibbeds,
		.ib-ibbaths,
		.ib-ibsqft {
			margin-right: 7px;
			font-size: 13px;

			.ib-ibdbold {
				margin-right: 3px;
			}
		}
	}

	.ib-infobox {
		width: 410px;
		position: absolute;
		bottom: 0;
		padding-bottom: 0;
		z-index: 8;
		left: 0;
		background: transparent !important;
		margin-bottom: 15px;
		transform: translateX(-50%);
		margin-left: 20px;
		margin-bottom: 5px;
		border-radius: 10px;
		max-width: fit-content;

		.ib-ibwtitle {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}

		.ib-ibproperties {
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		&:after {
			bottom: -13px;
			filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.35));
			z-index: -1;
		}
	}

	.ib-temp-modal-infobox {
		position: fixed;
		max-width: 94%;
		width: auto;
		overflow: hidden;
		left: 50% !important;
		transform: translateX(-50%) !important;
		bottom: 80px !important;
		margin-left: auto;
		margin-right: auto;
	}

	.markerOverlay {
		padding: 5px 10px;
		display: flex;
		text-align: center;
		width: max-content;
	}
}

.gm-style .gm-style-iw-t::after {
	left: 0;
	transform: translate(90%, -44%) rotate(-45deg);
}

.gm-style .gm-style-iw-c {
	left: 0;
	transform: translate3d(-48%, -100%, 0);
}