/*ESTILOS PARA LA BARRA DE FILTRO */
@import "assets/css/reset/index.css";
@import "assets/fonts/icons/style.css";
@import "assets/css/residentials_filter/filters/index.css";

/*ESTILOS PARA EL RESULTADO DE BUSQUEDA (50/50)*/
@import "assets/css/result_filter/index.css";

/*ESTILOS PARA EL MODAL DEL DETALLE DE PROPIEDAD*/
@import "assets/css/modal_detail/modal/index.css";

@import "antd/dist/antd.css";

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.ant-tabs-tab-btn {
  box-shadow: none !important;
}
.ant-tabs-nav-list{
  width: 100%;
}
.ant-tabs-tab {
  width: 34%;
  /* display: flex;
  justify-content: center; */
}
.ant-collapse-header{
  font-size: 16px;
  font-weight: 600;
}

.ant-collapse-content-box{
  padding: 4px !important;
}

.gm-svpc{
  top: 225px !important;
}